---
- hosts: routers
  gather_facts: no

  tasks:
  - ios_config:
      lines:
        - "ip address {{ p2p.address | ipaddr('address') }} {{ p2p.address | ipaddr('netmask') }}"
        - "description P2P link with {{p2p.peer}}"
      parents: "interface {{ p2p.interface }}"
   
  - net_ping:
     dest: "{{ hostvars['p2p.peer']['p2p.address'] | ipaddr('address') }}" 
